body{
    color:rgb(250, 235, 215);
}
div{
    justify-items: center;
}
#headers{
    color: antiquewhite;
    font-weight: bolder;
    text-align: center;
}
#alert{
    margin: auto;
    width: 500px;
    height: 5vh;
    color: antiquewhite;
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh;
    align-self: center;
}
.lost{
    background-color: #4d0606;
}
.won{
    background-color: #034d0a;
}
.tied{
    background-color: #947e05;
}
.clear{
    background-color: #085d96;
}
button{
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border: 0;
}

#headerdiv{
    color: antiquewhite;
    font-size: 30;
    margin: auto;
    background-color: #131313;
    height: 6vh;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 6vh;
    align-self: center;
}

#line{
    text-align:center;
    position: relative;
}

#points{
    color: antiquewhite;
    justify-self: left;
    position: absolute;
    top: 30%;
    margin-left: 3%;
    font-size: x-large;
    font-weight:bold;
    text-align: left;
}

#clear{
    height: 10%;
    width: 15%;
    margin-top: 5%;
    background-color: #1a1a1a;
    border: 0;
    color:antiquewhite;
    font-weight:bold;
}
#clear:hover{
    background-color: #111111;
}

.footer {
    position: fixed;
    left: 3%;
    bottom:1%;
    width: 15%;
    height: 56px;
    color: white;
    text-align: left;
  }

a{
    color:#faebd7;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
  }
a:hover{
    color:rgb(221, 202, 177);
  }

.btnmenu{
    height:36px;
    width: 36px;
    border: 0;
    position: absolute;
    right: 1%;
    margin-top:0.5%;
  }
#menudiv{
    display: flex;
    justify-content: center;
    position: relative;
}

#headertext{
    text-align: center;
    width: 100%;
}
#menubar{
    background-color: #212529;
}

.pick{
    background-color: #2c3033;
}
.option{
    font-weight: lighter;
    height: 5%;
    display: flex;
    font-size: x-large;
}

.btn-index{
    box-shadow: 0 0 0 #000000;
    transition: 0.5s ease;
    margin: 5px;
}

.btn-index:hover{
    box-shadow: 0 0 15px #4c00ff;
    box-sizing:inherit;
    transition: 0.5s ease;
    border-radius: 20px;
}

.index-menu{
    display: inline-flex;
    align-content: center;
}

.slider{
    -webkit-appearance: none;
    width: 94%;
    height:30px;
    background-color: #111111;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #414141;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #414141;
    cursor: pointer;
  }

  #submitbtn{
    margin-top: 1%;
    background-color: #111111;
    color: antiquewhite;
    height: 7%;
    width: 7%;
    font-size: x-large;
    font-weight: bold;
    outline-width: 0;
    transition: 0.25s ease;
    border-radius: 10px;
  }

  #submitbtn:hover{
    color:rgb(216, 203, 186);
    background-color:#0a0a0a;
    transition: 0.25s ease;
  }

  #submitbtnDisabled{
    margin-top: 1%;
    background-color: #111111;
    height: 7%;
    width: 7%;
    font-size: x-large;
    font-weight: bold;
    outline-width: 0;
    color:rgb(172, 171, 171);
    border-radius: 10px;
  }

  .exp{visibility: hidden;}

  .exp2{visibility: hidden;}

  .modal-content{
    background-color: rgb(33, 37, 41);
  }

  .unsorted{
    margin: 1%;
    background-color: #111111;
    color: antiquewhite;
    height: 7%;
    width: 7%;
    font-size: x-large;
    font-weight: bold;
    outline-width: 0;
    transition: 0.25s ease;
    border-radius: 10px;
  }

  .unsorted:hover{
    color:rgb(216, 203, 186);
    background-color:#0a0a0a;
    transition: 0.25s ease;
  }

  .fileinput{
    vertical-align:middle; 
    margin-top: 1%;
    width: 20%;
    border:3px solid #111111;
    transition: 0.25s ease;
  }

.fileinput:hover{
  border:3px solid #0a0a0a;
  transition: 0.25s ease;
}

  .numbers{
    color:rgb(214, 202, 185);
  }

  .desc{
    margin-top: 0;
    font-weight: bold;
  }


