{% extends "layout.html" %}

{% block title %}
    Rock Paper Scissors
{% endblock %}

{% block main %}
    <div>
        <form method="post">
            <button type="submit" style="background: url(static/Rock.png)" name="button" value="R"></button>
            <button type="submit" style="background: url(static/paper.png)" name="button" value="P"></button>
            <button type="submit" style="background: url(static/scissors.png)" name="button" value="S"></button>
        </form>
    </div>
{% endblock %}